@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Test Page</h1>

        <p id="data-loc">

        </p>

        <script src="/scripts/jquery-1.9.1.js"></script>
        <script src="/scripts/jquery.signalR-1.0.1.js"></script>
        <script src="/signalr/hubs"></script>
        <script src="/scripts/SignalR.TwitterTicker.js"></script>
    </div>
</body>
</html>
