@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
    <title>@@TweetsOnAMap</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
   <link href="/css/bootstrap.css" type="text/css" rel="stylesheet"/>
   <link rel="icon" 
      type="image/png" 
      href="https://si0.twimg.com/profile_images/3541063034/7b20c1d2d0cb80a94d464e44070fff2d_bigger.png" />
    
        <style type="text/css">
            * { padding: 0; margin: 0; }
         html { height: 100% }
            body { height: 100%; margin: 0; padding: 0 }
            
            #map-canvas img {
              max-width: none;
            }
            
            .navbar 
            {
                position: fixed;
                bottom: 10px;
                left: 2%;
                width: 350px;
            }
            
            .navbar p 
            {
              margin: 0;
              line-height: 40px; 
            }
            
            .alert-info.top 
            {
              position: fixed;
              top: 20px;
              left: 50%;
              margin-left: -200px;
              width: 349px;
            }
            
            .media-list.right
            {
              position:absolute;
              right: 2%;
              bottom: 20px;
              width: 350px;
            }
            
                  .media-list.left
            {
              position:absolute;
              left: 2%;
              bottom: 80px;
              width: 350px;
            }
            .media.navbar-inner
            {
              padding: 10px;
            }
            
            #logo 
            {
              left: 1%;
              position: fixed;
              top: 10px;
              width: 200px;
            }
            
            .info-window 
            {
              border-radius: 5px;
            }
            
            .infobox-wrapper {
                display:none;
            }
            .infobox-inner {
                border:2px solid black;
                margin-top: 8px;
                background:#333;
                color:#FFF;
                font-family:Arial, Helvetica, sans-serif;
                font-size:12px;
                padding: .5em 1em;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                text-shadow:0 -1px #000000;
                -webkit-box-shadow: 0 0  8px #000;
                box-shadow: 0 0 8px #000;
                overflow: auto;
            }

            .infoBox > img 
            {
              left: -20px;
            }
            
            #ad 
            {
              position: fixed;
              right: 2%;
              top: 20px;
            }
            
            .tweet 
            {
              position: fixed;
              top: 280px;
              right: 2%;
              margin-left: -175px;
              width: 300px;
              background-color: #fff;
              color: #666;

              border-radius: 5px;
            }
            
            .tweet .profile-image {
left: 10px;
position: absolute;
top: 10px;
}
.tweet .profile-image img {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
height: 32px;
width: 32px;
}

.tweet .text {
padding: 0 10px 5px 52px;
}

         .tweet .from {
line-height: 1em;
padding: 10px 10px 5px 52px;
width: 250px;
}   
.tweet .from-user-name {
color: #666;
font-weight: bold;
text-decoration: none;
white-space: nowrap;
}

.tweet .from-user {
color: #999;
font-size: .8em;
white-space: nowrap;
}
.tweet .meta {
color: #999;
font-size: .825em;
line-height: 1em;
padding: 0 5px 10px 52px;
}
        </style>

</head>
<body>
    <div>
        <div id="map-canvas"></div>

@*        <img id="logo" src="http://asset.9msn.com.au/img/000/000/180/419/ninemsn_logo.gif" />*@
        <img id="logo" src="/img/twitter.png" />
        <div class="alert alert-info top">
          Welcome to <a href="">@@TweetsOnAMap</a><button class="close pull-right">&times;</button>
        </div>

        <ul class="media-list left">
  
        </ul>

        <ul class="media-list right">
     
        </ul>

        <div class="tweet">
					<div class="profile-image"><img src="https://si0.twimg.com/profile_images/3541063034/7b20c1d2d0cb80a94d464e44070fff2d_bigger.png""></div>
					<div class="from"><span class="from-user-name">Tweets On a Map</span> <span class="from-user">@@TweetsOnAMap</span></div>
					<div class="text">@@TweetsOnAMap 2000 3/10 Hello!</div>
					<div class="meta">7 minutes ago</div>
				</div>

        <div class="navbar">
          <div class="navbar-inner">
            <p class="pull-left">Active Viewers: <span id="data-loc" class="badge badge-success">0</span> User Tweets: <span class="badge badge-success" id="total-tweets">0</span></p>
          </div>
        </div>

        <script src="/scripts/jquery-1.9.1.js"></script>
        <script src="/scripts/jquery.signalR-1.0.1.js"></script>
        <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
        <script src="/signalr/hubs"></script>
        <script src="/scripts/SignalR.TwitterTicker.js"></script>
        
        <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4OLXZzFfoqBbhseHYT1CMm5_wKegdGzE&sensor=false">
        </script>

        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

        <script type="text/javascript">
            (function () {
              function initialize() {
                var mapOptions = {
                  center: new google.maps.LatLng(-33.855601, 151.20822),
                  zoom: 12,
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  streetViewControl: false,
                  disableDefaultUI: true
                };
                window.map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
              }

              $(window).resize(function () {
                $('#map-canvas').css('height', $(window).height());
              });

              $('#map-canvas').css('height', $(window).height());
              google.maps.event.addDomListener(window, 'load', initialize);
            })();
        </script>
    </div>
</body>
</html>
